/* CSS for sitegraphs module */

/* /userstats : todo: make css generic for all these forms*/

/* Monthly fomr */
#sitegraphs-mtform div {
  float: left;
}
#sitegraphs-mtform #edit-from-month-wrapper,
#sitegraphs-mtform #edit-to-month-wrapper,
#sitegraphs-mtform #edit-from-year,
#sitegraphs-mtform #edit-to-year {
  margin-left: 10px;
}
#sitegraphs-mtform fieldset {
  margin-top:  0px;
  margin-bottom:  0px;
  margin-left: 10px;
  float: left;
  border: none;
}
#sitegraphs-mtform input,
#sitegraphs-mtform table {
  clear: left;
}


/* daily stats */
#sitegraphs-dailyform div {
}
#sitegraphs-dailyform .date-clear-block {
  display: inline-block;
}
#sitegraphs-dailyform .buttons,
#sitegraphs-dailyform table {
  clear: left;
}

